{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-dashboard"></i> {{ title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <a href="{% url 'dropshipers' %}">
                <div class="widget-small primary"><i class="icon fa fa-users fa-3x"></i>
                    <div class="info">
                      <h5>Дропшиппери</h5>
                      <p><b>{{ countshop }}</b></p>
                    </div>
                </div>
              </a>
          </div>
          <div class="col-md-3">
              <a href="{% url 'orders' %}">
                <div class="widget-small info"><i class="icon fa fa-shopping-bag fa-3x"></i>
                    <div class="info">
                      <h5>Закази</h5>
                      <p><b>{{ countorder }}</b></p>
                    </div>
                </div>
              </a>
          </div>
          <div class="col-md-3">
              <a href="{% url 'ordersdrop' %}">
                <div class="widget-small warning"><i class="icon fa fa-shopping-basket fa-3x"></i>
                    <div class="info">
                      <h5>Закази дропшипперів</h5>
                      <p><b>{{ countdrop }}</b></p>
                    </div>
                </div>
              </a>
          </div>
          <div class="col-md-3">
              <a href="{% url 'items' %}">
                <div class="widget-small danger"><i class="icon fa fa-cubes fa-3x"></i>
                    <div class="info">
                      <h5>Товары</h5>
                      <p><b>{{ countitem }}</b></p>
                    </div>
                </div>
              </a>
          </div>
        </div>
</div>

{% endblock %}