{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-cubes"></i> {{ title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Дата</th>
                      <th>Номенклатура</th>
                      <th>Дропер</th>
                      <th>Клієнт</th>
                      <th>Сумма</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                      <tr>
                        <td><a href="/item/{{order.id}}">{{ order.date }}</a></td>
                        <td>{% for i in order.items %}
                            <a href="/item/{{order.id}}"><p>{{ i }}</p></a>
                          {% endfor %}</td>
                        <td>{{ order.shop }}</td>
                        <td>{{ order.client }}</td>
                        <td>{{ order.payment }}</td>
                        <td>{{ order.total }}</td>
                        <td>{{ order.deliver }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
</div>
<!-- Javascripts-->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins/pace.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock %}